/*INTRO*/
.intro {
    position: relative;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.intro--banner {
    position: relative;
    height: 475px;
    margin-top: 20px;
}

.intro--banner::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -15px;
    right: 0;
    height: 2px;
    background-color: #282828;
}
.intro--banner::after {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: var(--green);
}
.intro--banner h1 {
    position: relative;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
}
.intro--banner button {
    position: relative;
    padding: 5px 17px 5px 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: white;
}
.intro--banner button .btn-background {
    position: absolute;
    top: 0;
    left: 23px;
    right: 0;
    height: 100%;
    background-color: var(--green);
    z-index: -1;
    transition: left 0.2s ease-in-out;
}
.intro--banner button:hover .btn-background {
    left: 0;
}

.intro--banner img {
    position: absolute;
    bottom: 21px;
    right: -35px;
    z-index: -99;
}

.intro--options {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
}
.intro--options > a {
    max-width: 250px;
    text-decoration: none;
    color: #484848;
    transition: color 0.2s ease-in-out;
}
.intro--options > a:hover {
    color: white;
}
.intro--options h3 {
    font-size: 16px;
    text-transform: uppercase;
}
.intro--options p {
    margin-bottom: 0;
}

.container-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
