/*MEDIA QUERIES*/
@media (max-width: 768px) {
    #booking, #contact, #rooms, #about{
        height: 100%;
    }

    .intro--banner h1 {
        font-size: 58px;
    }

    .contact--box {
        position: absolute;
        top: 30px;
        width: 55%;
        font-size: 10px;
    }

    #contact .row{
        margin-left: 0;
    }

    footer{
        padding: 10px 10px;
        gap: 5%;
    }

    #about{
        margin-top: 0;
    }
}